body{

    background-color: rgb(128, 179, 65);
}

.uno{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3em;
    margin: auto;
    padding: 1em 1em 1em 1em ;
    text-align: center;
    background-image: url(/https://img.freepik.com/vector-gratis/mancha-acuarela-abstracta-colorida_1035-18218.jpg?size=626&ext=jpg&ga=GA1.1.117944100.1708992000&semt=ais/mancha.png);
}
