body{

    background-color: rgb(128, 179, 65);
}

.uno{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3em;
    margin: auto;
    padding: 1em 1em 1em 1em ;
    text-align: center;

}
li{
    border: 1px dashed black;
    padding: 1em 1em 1em 1em;
    margin:auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    transition: transform 0.3s ease;
}
li:hover{

    scale: 1.5;
    transform: rotate(360deg)
}
#caja{

    display: flex;
    padding: 3em 1em 3em 4em;
    margin:auto; 
    height: auto;
}
