body{


    background-color: rgba(47, 99, 28, 0.984);
}

#Principal{

    font-size: 3em;
    margin: auto;
    padding: 1em 1em 1em 1em;
    display: flex;
    justify-content: center;
}

#yo{
    font-size: 2em;
    margin: auto;
    padding: 1em 1em 1em 1em;
    display: flex;
    justify-content: left;
}

#cuadro{
    font-size: 1.5em;
    width: 500px; 
    height: 500px; 
    margin: 40px;
    padding: 20px;
   
}

#tecnologia{

    font-size: 2em;
    margin: auto;
    padding: 1em 1em 1em 1em;
    display: flex;
    justify-content: right;
}

#logo1{

    width: 2em;
    margin: auto;
     margin-top:3em;
    display: flex;
 
}
#textoyfoto{
    padding: 1em 1em 1em 1em;
    display: flex;

}

