body{

    background-color: rgb(128, 179, 65);
}

.uno{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4em;
    margin: auto;
    padding: 1em 1em 1em 1em ;
    text-align: center;
}