body{


    background-color: rgba(47, 99, 28, 0.984);
}

#Principal{

    font-size: 3em;
    margin: auto;
    padding: 1em 1em 1em 1em;
    display: flex;
    justify-content: center;
}

#yo{
    font-size: 1.5em;
    margin: auto;
    padding: 1em 1em 1em 1em;
    display: flex;
    justify-content: left;
}

#cuadro{

    width: 300px; /* Ancho del div */
    height: 200px; /* Alto del div */
    margin: 20px; /* Márgenes externos */
    padding: 10px; /* Relleno interno */
    border: 1px solid black;
}